<html><head>
        <title>Unit Kegiatan Mahasiswa</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        
    </head><nav class="navbar navbar-collapse jg-navbar-collapse " style="border-radius:0px ; margin-bottom:20px">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <div class="col-md-5">
    <img src="img/dnsdns.png" alt="DinusLogo" style="width: 70\0px; height: 70px;">
    </div>
    
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav modif3">
        <li class="active"> <a href="#">Home</a></li>
        <li class="dropdown">
          <a class="dropdown" data-toggle="dropdown" href="#">UKM </a>
          <ul class="dropdown-menu">
            <li><a href="#">DNCC</a></li>
            <li><a href="../bootstrap/Basket.html">Basket</a></li>
            <li><a href="#">Paduan Suara</a></li>
            <li><a href="#">Teater Kaplink</a></li>
            <li><a href="#">Musik</a></li>
          </ul>
        </li>
        <li><a href="#">Contact US</a></li>
        
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="admin/input.php"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        
      </ul>
      </div>
    
</nav>
               <div class="container" style="padding:20px style=background-color:blue;">
            <div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="active item">
                            <img src="img/k-on.jpg" alt="Chania">
                            
                        </div>
                        <div class="item">
                            <img src="img/kuroko.jpg" width="530px" height="500px" alt="Chania">
                            <div class="carousel-caption">
                                <h3>Basket</h3>
                                <p>UKM Basket</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="container" style="padding:20px; background-color:white;">
            <div class="col-md-12">
                <div class="row" "="">

          <section class="post col-md-8 ">

              <div class="miga-de-pan ">

              <ol class="breadcrumb ">

                <li class="breadcrumb-item-active "><a href="# ">Home</a></li>

                <li><a href="# ">UKM</a></li>

                <li><a href="# ">Tentang Kami</a></li>

                </ol>

               </div>

               <article class="post clear-fix ">

            <a href="# " class="thumb pull-left " draggable="true">

              <img src="img/UKM.jpg " alt="unduhan" class="center-left img-circle">

            </a>

            <h2 class="post-title " style="color:black; ">
              <h2 style="color:black; ">Hasil Seleksi UKM</h2>
            </h2>

            

            <p><span class="post-fecha
                ">21 Oktober 2016</span> by <span class="post-autor "><a href="# ">Admin</a></span></p>

            <p class="post-content text-justify ">

            Peserta yang lolos seleksi pada hari ini adalah....

            </p>

            <div class="content-button ">

            <a href="# " class="btn btn-primary ">Selengkapnya</a>

            </div>
              </article>
           <article class="post clear-fix "> 
              <a href="# " class="thumb pull-left " draggable="true">
                   
             <img src="img/dinacom.jpg " alt="unduhan " class="center-left img-circle">
             </a>
            <h2 class="post-title ">
                <h2 style="color:black; ">Dinacom</h2>
            </h2>                        
            <p><span class="post-fecha
                ">21 Oktober 2016</span> by <span class="post-autor "><a href="# ">Admin</a></span></p>

            <p class="post-content text-justify ">

            Dinus Application Competetion atau biasa yang disebut dinacom adalah....

            </p>

            
            <div class="content-button ">

            <a href="# " class="btn btn-primary ">Selengkapnya</a>

            </div>
          

           </article>

           </section>

            <aside class="col-md-4 ">

        <div class="panel panel-default " style="border-radius:0px; ">

          <div class="panel-body " style="padding:0px;padding-top:15px; ">

          <legend style="color:black; ">

            <center>News</center>

          </legend>

          <div class="ac-over ">

            <li class="li-ac " style="list-style:none; ">

            <a target="_blank " href="# ">Juara 1 Lomba Applikasi Tingkat Jawa Tengah</a>

            <p>By:UKM Dian Nuswantoro Computer Club </p>

            </li>

            <li class="li-ac " style="list-style:none; ">

            <a target="_blank " href="# ">Juara 2 Lomba Basket i Tingkat Jawa Tengah</a>

            <p>By:UKM Basket</p>

            </li>

            <li class="li-ac " style="list-style:none; ">

            <a target="_blank " href="# ">Juara 3 Lomba Paduan Suara Tingkat Nasional</a>

            <p>By:UKM Paduan Suara </p>

            </li>

            <li class="li-ac " style="list-style:none; ">

            <a target="_blank " href="# ">Juara 1 Lomba Musik Jawa Tengah</a>

            <p>By:UKM Musik </p>

            </li>

            <li class="li-ac " style="list-style:none; ">

            <a target="_blank " href="# ">Juara 1 Lomba Panjat Tebing Tingkat Jawa Tengah</a>

            <p>By:UKM Teater Kaplink</p>

            </li>

            

           </div>

          </div> 

          <div class="panel-footer " style="text-align:center; ">

              <a href="# " target="_blank " class="see-more-button btn-sm ">See ALL</a>

              </div>

        </div>

      

              

        </aside>

           </div>      

         



     </div>

  </section>



    

    







<!-- Footer -->

<!--Footer-->

<footer class="site-footer ">

  <div class="container ">

    <div class="row ">

    </div>

  <div class="col-md-12 ">

      <h4>Contact Adrees</h4>

      <address>

      Gd F Lt 1 Udinus<br>

      Semarang<br>

      </address>

    <div class="bottom-footer ">

      <div class="col-md-5 ">@Copyright ASIK Community</div>

      <div class="col-md-7 ">

        <ul class="footer-nav ">

          <li><a href="# ">DNCC</a></li>

          <li><a href="# ">Basket</a></li>

          <li><a href="# ">Paduan Suara</a></li>

          <li><a href="# ">Teater Kaplink</a></li>

          <li><a href="# ">Musik </a></li>

        </ul>

      </div>

    </div>

  </div>

  </div>     

</footer>





</body></html>